* {
    box-sizing: border-box;
    
}


body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    /* background-image: linear-gradient(to right top, #ef745c, #34073d); */
    background-image: linear-gradient(to right top, #0e1c26, #2a454b, #294861);
    background-repeat: no-repeat; 

}

header {
    text-align: center;
}


.display {
    border: 2px solid white;
    margin:10px 0px ;
    padding: 20px 30px;
}
table{
    margin: auto;
    border-collapse: collapse;
}
td, th {
    border: 1px solid white;
    padding: 10px 20px;
}